<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap CSS -->




    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <title>RestaurantsAjaxified</title>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
